@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b485f;
}

header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__link:first-child {
  margin-right: 20px;
}

.header__link {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: none;
  color: #ccd4e7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding: 40px 0;
  width: 100%;
  background-color: #23345a;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

img.profile {
  align-self: center;
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}

.description {
  margin: 10px;
  max-width: 600px;
}

.lists {
  width: 100%;
  max-width: 1200px;
  min-height: 300px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.lists__title {
  color: #00a2ff;
}

footer {
  margin-top: auto;
  width: 100%;
  min-height: 70px;
  background-color: #23345a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

footer .links {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .icon {
  width: 30px;
}
